.button {
  color: black;
  background-color: lightgray;
  border-color: black;
  font-size: 25px;
}

.button:hover {
  background-color: gray;
}

.buttonBlock {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}
